@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.spinner{
    font-size: 60px;
    text-align: center;
    animation: 3s spin linear infinite;
    display: none;
    display: none;

}

.show{
    display: block;
}